nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    color: blue;
}

img {
    width: 100%;
}

.image-container {
    max-width: 30%;
    max-height: 40%;


}

.info-title {
    margin-top: 0;
}

.text-container p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0;

}



.card {
    align-items: flex-start;
    display: flex;
    gap: 3%;
}

.card:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .info-title {
        margin-top: 10%;
    }


    .image-container {
        max-width: 100%;
        max-height: 100%;
    }

    .text-container {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        gap: 40px;

    }





}