nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    color: blue;
}

img {
    width: 100%;
}

.image-container {
    max-width: 20%;
}

.card {
    display: flex;
}